<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="justinMedia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <justinMedia.Properties.Settings>
            <setting name="API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="API_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="BALANCE_AUTO_UPDATE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BALANCE_UPDATE_INTERVAL" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ORDER_LIST" serializeAs="String">
                <value />
            </setting>
        </justinMedia.Properties.Settings>
    </userSettings>
</configuration>